.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* reset.css */
/* Source : https://meyerweb.com/eric/tools/css/reset/ */

a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* css ninja */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

body, html {
  font-family: 'Space Grotesk', sans-serif;
  font-size: 16px;
}

body {
  position: relative;
  max-width: calc(1366px - 25px * 2);
  margin: 0 auto;
  padding: 0 25px;
  height: 100vh;
  color: #FFF;
  background: #212121;
  padding-top: 25px;
}

body::after {
  content: '';
  position: fixed;
  inset: 0;
  top: 25%;
  background: rgb(33,33,33);
  background: linear-gradient(180deg, rgba(33,33,33,1) 0%, rgba(95,183,255,1) 100%);
  z-index: -1;
  opacity: .37;
}

h1 {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 20px;
}

.oj-c-WinGif {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  opacity: .17 !important;
  z-index: -1;
  pointer-events: none;
}

.oj-c-MainInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto !important;
}

.oj-c-MainInput input {
  font-family: 'Space Grotesk', sans-serif;
  height: 25px;
  appearance: none;
  border: 0;
  border-radius: 50px;
  padding: 5px 10px;
  width: 100%;
  font-size: 16px;
}

.oj-c-MainInput button {
  font-family: 'Space Grotesk', sans-serif;
  height: 35px;
  appearance: none;
  border: 0;
  border-radius: 50px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background: rgb(27, 126, 207);
  color: white;
  font-weight: 500;
  margin-left: 10px;
  min-width: 110px;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

.oj-c-MultiInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  margin: 0 auto !important;
}

.oj-c-MultiInput input {
  font-family: 'Space Grotesk', sans-serif;
  height: 25px;
  appearance: none;
  border: 0;
  border-radius: 50px;
  padding: 5px 10px;
  width: 100%;
  font-size: 16px;
  margin-right: 10px;
}

.oj-c-MultiInput button {
  font-family: 'Space Grotesk', sans-serif;
  height: 35px;
  appearance: none;
  border: 0;
  border-radius: 50px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background: rgb(27, 126, 207);
  color: white;
  font-weight: 500;
  /*margin-left: 10px;*/
  min-width: 110px;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
}

h6 {
  font-size: 12px;
  font-weight: 700;
  margin-top: 10px;
}

table {
  text-align: center;
  color: black;
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-collapse: separate;
}

th,td {
  padding: 8px;
  border: 1px solid #e0e0e0;
  background: white;
}

table thead > tr th {
  background: rgb(27, 126, 207);
  color: white;
  font-weight: 700;
  border-color: rgb(27, 126, 207);
}

table thead > tr th:first-of-type {
  border-top-left-radius: 20px;
  border-color: transparent;
  border: 1px solid rgb(27, 126, 207);
}

table thead > tr th:last-of-type {
  border-top-right-radius: 20px;
  border-color: transparent;
  border: 1px solid rgb(27, 126, 207);
}

table tbody > tr:last-of-type td:first-of-type {
  border-bottom-left-radius: 20px;
  border-color: transparent;
  border: 1px solid #e0e0e0;
}

table tbody > tr:last-of-type td:last-of-type {
  border-bottom-right-radius: 20px;
  border-color: transparent;
  border: 1px solid #e0e0e0;
}

.goodAnswer > td {
  background-color: rgb(77, 194, 77);
  border-color: rgb(77, 194, 77);
  color: white;
}

@media (max-width: 767px) {
  .oj-c-MainInput,
  table {
    width: 100%;
  }
}