@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=block");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=block");
@font-face {
  font-family: "Doom Main";
  src: url("./../media/doom-main.woff2") format("woff2"), url("./../media/doom-main.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.no-transition * {
  transition: none !important;
}

:root {
  --font_family_base: "Space Grotesk", sans-serif;
  --radius_medium: 20px;
  --radius_main: 50px;
  --radius_round: 50%;
  --color-accent: #1b7ecf;
  --color-accent-hover: #0f5c9b;
  --color_correct: #4dc24d;
  --color_grey: #212121;
}

body,
html {
  font-family: var(--font_family_base);
  font-size: 16px;
}

body {
  background: var(--color_grey);
  color: #fff;
  position: relative;
  overflow-x: hidden;
}
body::after {
  content: "";
  position: fixed;
  inset: 0;
  top: 25%;
  background: var(--color_grey);
  background: linear-gradient(180deg, rgb(33, 33, 33) 0%, rgb(95, 183, 255) 100%);
  z-index: -3;
  opacity: 0.37;
  pointer-events: none;
}

.wrap {
  max-width: 1316px;
  margin: 0 auto;
  padding: 0 25px;
}

.mt-0 {
  margin-top: 0 !important;
}

.smol {
  margin: 0;
  line-height: 1;
  display: inline-flex;
  border-radius: 50px;
  font-size: 10px;
  transition: all 0.2s;
  text-decoration: none;
  color: var(--color_grey);
  align-items: center;
  transform-origin: left;
}
.smol > span {
  line-height: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s;
  margin-left: 3px;
  font-size: 8px;
}

.oj-c-Interface {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
}
.oj-c-Interface-title {
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 36px;
  margin-top: 36px;
  margin-bottom: 14px;
}
.oj-c-Interface-bg {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.1 !important;
  z-index: -1;
  pointer-events: none;
  display: none !important;
}
.oj-c-Interface-footer {
  margin-bottom: 25px;
}
.oj-c-Interface-infos {
  margin: 25px 0;
}

.oj-c-Search-inner,
.oj-c-Multi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -12px;
}

.oj-c-Search {
  position: -webkit-sticky;
  position: sticky;
  top: 25px;
  background: var(--color_grey);
  padding: 25px 0px;
  top: -2px;
}
.oj-c-Search::before, .oj-c-Search::after {
  content: "";
  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiIHdpZHRoPSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMjEyMTIxIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Im0xOCAwYy05LjgzMDY2ODU1IDAtMTcuODIwNjgxNTIgNy44ODA3ODMzMy0xNy45OTcwMjM3IDE3LjY2OTMzNDhsLS4wMDI5NzYzLjMzMDY2NTJ2LTE4eiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMiAyKSIvPjxwYXRoIGQ9Im0wIDJoMnYxOGgtMnoiLz48cGF0aCBkPSJtMCAwaDIwdjJoLTIweiIvPjwvZz48L3N2Zz4=");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 38px;
  height: 38px;
}
.oj-c-Search::before {
  top: calc(100% - 1px);
  left: -1px;
}
.oj-c-Search::after {
  top: calc(100% - 1px);
  right: -1px;
  transform: scaleX(-1);
}

.oj-c-Input {
  font-family: var(--font_family_base);
  height: 25px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: var(--radius_main);
  padding: 5px 15px;
  width: 100%;
  font-size: 16px;
  margin: 12px;
}

.oj-c-Btn {
  font-family: var(--font_family_base);
  height: 35px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  border-radius: var(--radius_main);
  padding: 5px 15px;
  display: flex;
  align-items: center;
  background: var(--color-accent);
  color: #fff;
  font-weight: 700;
  min-width: 120px;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  margin: 12px;
  transition: all 0.2s;
}

.s-doom .oj-c-Table td {
  line-height: 1.5;
}
.s-doom .oj-c-Timer-time {
  font-size: 11px;
}
.s-doom .oj-c-bottomMenu {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.s-doom .oj-c-Doom-tooltipContainer::after {
  font-size: 9px !important;
}
.s-doom .oj-c-Credits-btn .s-help {
  font-size: 18px;
  font-weight: 400;
  margin-top: 3px;
}
.s-doom .oj-c-Credits-tooltipContainer::after {
  font-size: 9px !important;
}
.s-doom [data-tooltip]::after {
  border-radius: 4px !important;
}
.s-doom .modal__title {
  font-size: 15px;
}
.s-doom .modal__content .m-title-1 {
  font-size: 11px;
}
.s-doom .modal__content .m-title-2 {
  font-size: 10px;
}
.s-doom .modal__content {
  font-size: 10px !important;
}
.s-doom .modal__btn {
  font-size: 10px;
}

.oj-c-Table td {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  vertical-align: middle;
}
.oj-c-Table-content {
  text-align: center;
  color: #000;
  width: 100%;
  margin: 0 auto;
  margin-top: 0px;
  margin-bottom: 25px;
  border-collapse: separate;
}
.oj-c-Table th,
.oj-c-Table td {
  padding: 8px;
  border: 1px solid #e0e0e0;
  background: #fff;
}
.oj-c-Table tr:last-of-type > td {
  border-bottom-color: #fff !important;
}
.oj-c-Table tr:first-of-type > td {
  border-top-color: #fff;
}
.oj-c-Table tr > td:first-of-type {
  border-left-color: #fff;
}
.oj-c-Table tr > td:last-of-type {
  border-right-color: #fff;
}
.oj-c-Table thead > tr th {
  background: var(--color-accent);
  color: #fff;
  font-weight: 700;
  border-color: var(--color-accent);
}
.oj-c-Table thead > tr {
  position: -webkit-sticky;
  position: sticky;
  top: 82px;
}
.oj-c-Table thead > tr th:first-of-type {
  border-top-left-radius: var(--radius_medium);
  border-color: transparent;
  border: 1px solid var(--color-accent);
}
.oj-c-Table thead > tr th:last-of-type {
  border-top-right-radius: var(--radius_medium);
  border-color: transparent;
  border: 1px solid var(--color-accent);
}
.oj-c-Table tbody > tr:last-of-type td:first-of-type {
  border-bottom-left-radius: var(--radius_medium);
  border-color: transparent;
  border: 1px solid #e0e0e0;
}
.oj-c-Table table tbody > tr:last-of-type td:last-of-type {
  border-bottom-right-radius: var(--radius_medium);
  border-color: transparent;
  border: 1px solid #e0e0e0;
}
.oj-c-Table #s-correctWord {
  position: -webkit-sticky;
  position: sticky;
  top: 116px;
}
.oj-c-Table #s-correctWord > td {
  background-color: var(--color_correct);
  border-color: var(--color_correct) !important;
  color: #fff;
}

.s-signature {
  font-size: 12px;
  font-weight: 700;
}

.oj-c-Doom {
  position: fixed;
  bottom: 25px;
  z-index: 3;
}
.oj-c-Doom-btn {
  background: linear-gradient(180deg, rgb(33, 33, 33) 23%, rgb(192, 104, 34) 74%, rgb(83, 31, 24) 100%);
  border: 2px solid #df4419;
  border-radius: var(--radius_round);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.oj-c-Doom-btn .s-doomStatus {
  font-family: "Press Start 2P", cursive;
  position: absolute;
  color: #fff;
  font-weight: 700;
  top: calc(50% + 6px);
  opacity: 0.6;
  font-size: 10px;
  margin-top: 3px;
}
.oj-c-Doom-logo {
  width: 90%;
  margin-top: -7px;
  filter: invert(1);
  opacity: 0.6;
}
.oj-c-Doom-btnContainer {
  position: relative;
}
.oj-c-Doom-tooltipContainer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}
.oj-c-Doom-tooltipContainer::after {
  font-size: 13px !important;
}

.oj-c-Fire {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  width: 140%;
  height: 242px;
  z-index: -3;
  pointer-events: none;
  display: none;
}
.oj-c-Fire-animation {
  position: absolute;
  inset: 0;
  width: 140%;
  background: url("./../media/doom-fire.gif");
  background-repeat: repeat-x;
  background-size: contain;
  -webkit-animation: fire 28s infinite;
          animation: fire 28s infinite;
}

@-webkit-keyframes fire {
  0% {
    transform: translateY(30px) rotate(1deg);
  }
  20% {
    transform: translateY(30px) rotate(-1deg);
  }
  40% {
    transform: translateY(30px) rotate(0deg);
  }
  60% {
    transform: translateY(30px) rotate(1deg);
  }
  80% {
    transform: translateY(30px) rotate(-1deg);
  }
  100% {
    transform: translateY(30px) rotate(1deg);
  }
}

@keyframes fire {
  0% {
    transform: translateY(30px) rotate(1deg);
  }
  20% {
    transform: translateY(30px) rotate(-1deg);
  }
  40% {
    transform: translateY(30px) rotate(0deg);
  }
  60% {
    transform: translateY(30px) rotate(1deg);
  }
  80% {
    transform: translateY(30px) rotate(-1deg);
  }
  100% {
    transform: translateY(30px) rotate(1deg);
  }
}
body.s-doom {
  font-size: 11px;
  --font_family_base: "Press Start 2P", cursive;
  --radius_medium: 4px;
  --radius_main: 4px;
  --color-accent: #df4419;
  --color-accent-hover: #ad3311;
  --color_correct: #c91515;
  --color_grey: #000;
  --radius_round: 4px;
}
body.s-doom::after {
  background: linear-gradient(180deg, #000 0%, #df4419 100%) !important;
}
body.s-doom .oj-c-Interface-title {
  font-family: "Doom Main", sans-serif;
  letter-spacing: 6px;
}
body.s-doom .oj-c-Search::before, body.s-doom .oj-c-Search::after {
  background-image: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjIwIiB2aWV3Qm94PSIwIDAgMjAgMjAiIHdpZHRoPSIyMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJtNTYyIDk3N2MtMS4zODA3MTIgMC0yLjYzMDcxMi41NTk2NDQtMy41MzU1MzQgMS40NjQ0NjZzLTEuNDY0NDY2IDIuMTU0ODIyLTEuNDY0NDY2IDMuNTM1NTM0di01eiIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjMDAwIiBzdHJva2Utd2lkdGg9IjIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC01NTYgLTk3NikiLz48L3N2Zz4=");
}
body.s-doom .oj-c-Search::before {
  top: calc(100% - 2px);
  left: -2px;
}
body.s-doom .oj-c-Search::after {
  top: calc(100% - 2px);
  right: -2px;
}
body.s-doom .oj-c-Doom-btn .s-doomStatus {
  opacity: 1;
}
body.s-doom .oj-c-Doom-logo {
  opacity: 1;
}
body.s-doom .oj-c-Btn,
body.s-doom .oj-c-Input {
  font-size: 11px;
}
body.s-doom .s-prevWord,
body.s-doom .s-signature {
  font-size: 11px;
  line-height: 1.5;
}
body.s-doom .oj-c-Table #s-correctWord {
  top: 111px;
}
body.s-doom td {
  font-size: 9px !important;
}
body.s-doom .oj-c-Fire {
  display: block;
}

.oj-c-Timer {
  position: relative;
  bottom: 25px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  font-family: var(--font_family_base);
  font-weight: 700;
}
.oj-c-Timer-inner {
  position: fixed;
  bottom: 25px;
  background: var(--color_grey);
  border: 0;
  border-radius: var(--radius_round);
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}
.oj-c-Timer-time {
  font-size: 17px;
  line-height: 1;
}

.container {
  display: none !important;
}

.oj-c-Splash {
  position: fixed;
  overflow: hidden;
  inset: 0;
  background: var(--color_grey);
  z-index: 4;
  opacity: 0;
  transform: scale(1.2);
  pointer-events: none;
  transition: all 0.42s, opacity 0.2s, background 0s !important;
}
.oj-c-Splash-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.oj-c-Splash-content {
  font-size: 120px;
  font-family: "Space Grotesk", sans-serif !important;
}
.oj-c-Splash.is-active {
  opacity: 1;
  transform: scale(1);
}
.oj-c-Splash.is-doom {
  background: #a43414;
}
.oj-c-Splash.is-regular {
  background: #0f5c9b;
}

.oj-c-Logo {
  position: relative;
  top: 25px;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
  font-family: var(--font_family_base);
  font-weight: 700;
}
.oj-c-Logo-inner {
  position: fixed;
  top: 25px;
  background-color: transparent;
  border: 0;
  border-radius: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
}
.oj-c-Logo-inner > svg {
  pointer-events: none;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23));
}

.oj-c-Bottom {
  display: none;
  height: 0;
  pointer-events: none;
}

.oj-c-bottomMenu {
  display: none;
  background: rgba(0, 0, 0, 0.87);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: fixed;
  width: calc(100% - 50px);
  bottom: 0;
  height: 85px;
  z-index: 1;
  pointer-events: none;
}

.oj-c-Credits {
  position: relative;
  top: 25px;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  cursor: pointer;
}
.oj-c-Credits-btnContainer {
  position: fixed;
  top: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.oj-c-Credits-btn {
  background: var(--color-accent);
  border: 0;
  border-radius: var(--radius_round);
  width: 60px;
  height: 60px;
  transition: all 0.2s;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  text-align: center;
}
.oj-c-Credits-btn .s-help {
  display: block;
  font-weight: 700;
  font-family: var(--font_family_base);
  font-size: 26px;
  color: #fff;
}
.oj-c-Credits-tooltipContainer {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.oj-c-Credits-tooltipContainer::after {
  font-size: 13px !important;
}

.modal {
  position: relative;
  font-family: var(--font_family_base);
  z-index: 5;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.m-link {
  color: var(--color-accent-hover) !important;
  font-weight: 600;
}

.solo-link {
  display: block;
}

.modal__container {
  position: relative;
  background-color: #fff;
  padding: 15px;
  padding-top: 0;
  max-width: 500px;
  max-height: calc(100vh - 50px);
  border-radius: var(--radius_medium);
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  background: linear-gradient(180deg, rgb(255, 255, 255) 94%, rgba(255, 255, 255, 0) 100%);
  padding: 15px 0;
  padding-bottom: 17px;
}
.modal__header::before, .modal__header::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  background: #fff;
  background: linear-gradient(180deg, rgb(255, 255, 255) 94%, rgba(255, 255, 255, 0) 100%);
  pointer-events: none;
}
.modal__header::before {
  left: -15px;
}
.modal__header::after {
  right: -15px;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.25;
  color: var(--color-accent-hover);
  box-sizing: border-box;
}

.modal__close {
  font-family: "Space Grotesk", sans-serif;
  background: transparent;
  border: 0;
  font-weight: 700;
  font-size: 22px;
  color: var(--color_grey);
  cursor: pointer;
  transition: all 0.2s;
}

.modal__header .modal__close:before {
  content: "✕";
}

.modal__content {
  margin-top: 25px;
  margin-bottom: 25px;
  line-height: 1.5;
  color: var(--color_grey);
  font-size: 16px;
}
.modal__content p {
  margin: 10px 0;
}
.modal__content .m-title-1 {
  display: block;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.modal__content .m-title-2 {
  display: inline-flex;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
  margin-top: 5px;
  background: transparent;
  border-left: 2px solid var(--color-accent-hover);
  padding: 1px 10px;
  color: var(--color-accent-hover);
}

.modal__btn {
  font-family: var(--font_family_base);
  font-weight: 500;
  font-size: 16px;
  padding: 5px 15px;
  background: #e0e0e0;
  color: var(--color_grey);
  border-radius: var(--radius_main);
  height: 35px;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
       appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
  margin: 4px;
}

.modal__footer {
  font-size: 0;
  margin: -4px;
}

.modal__btn:focus,
.modal__btn:hover {
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: var(--color-accent);
  color: #fff;
  font-weight: 700;
}

@-webkit-keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}
@-webkit-keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}
.micromodal-slide {
  display: none;
  opacity: 0;
}

.micromodal-slide.is-open {
  display: block;
  opacity: 1;
}

.micromodal-slide[aria-hidden=false] .modal__overlay {
  -webkit-animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=false] .modal__container {
  -webkit-animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__overlay {
  -webkit-animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden=true] .modal__container {
  -webkit-animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
          animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

.s-donate {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-top: 5px;
  transition: all 0.2s;
  transform-origin: left;
  border-radius: var(--radius_medium);
  text-decoration: none;
  font-size: 0;
}
.s-donate > img {
  width: 150px;
  height: auto;
  border-radius: var(--radius_medium);
}
.s-donate > span {
  position: absolute;
  left: 100%;
  margin-left: 15px;
  font-size: 22px;
}

@media (max-width: 767px) {
  .oj-c-Interface {
    max-width: unset;
    width: 100%;
  }
  .oj-c-Interface-title {
    font-size: 30px;
    margin-top: 28px;
    margin-bottom: 0;
  }
  [data-tooltip]::after {
    display: none !important;
  }
  .oj-c-bottomMenu {
    display: block;
  }
  .oj-c-Doom {
    bottom: 20px;
  }
  .oj-c-Doom-btn {
    width: 45px;
    height: 45px;
  }
  .oj-c-Doom-btn .s-doomStatus {
    margin-top: 0;
    font-size: 8.5px;
  }
  .oj-c-Bottom {
    display: block;
    background: transparent;
    height: 85px;
  }
  .oj-c-Timer-inner {
    bottom: 20px;
    box-shadow: none;
    background: transparent;
    border-radius: 0;
    border: 0;
    width: 45px;
    height: 45px;
    justify-content: flex-end;
    text-align: right;
  }
  .oj-c-Logo {
    top: -3px;
    position: absolute;
  }
  .oj-c-Logo-inner {
    position: absolute;
    top: 0;
    width: 35px;
    height: 35px;
  }
  .oj-c-Credits {
    top: -3px;
    right: 0;
    position: absolute;
  }
  .oj-c-Credits-btnContainer {
    position: absolute;
    top: 0;
  }
  .oj-c-Credits-btn {
    width: 35px;
    height: 35px;
  }
  .oj-c-Credits-btn .s-help {
    font-size: 18px;
  }
  .s-doom .oj-c-Credits-btn .s-help {
    font-size: 13px !important;
    margin-top: 2px;
  }
}
@media (max-width: 550px) {
  .oj-c-Multi {
    flex-direction: column;
    margin: 0 15px;
  }
  .oj-c-Multi-input, .oj-c-Multi-btn {
    margin: 12px 0;
  }
  .oj-c-Multi-btn {
    margin-bottom: 0;
  }
  .oj-c-Multi > input:first-of-type {
    margin-top: 0;
  }
}
@media (hover: hover) {
  [data-tooltip]::after {
    white-space: pre-wrap;
    display: block;
    z-index: 2;
    background-color: #fff;
    /*color: #404040;*/
    color: #49433F;
    pointer-events: none;
    font-size: 13px;
    font-weight: 500;
    text-transform: none !important;
    letter-spacing: normal !important;
    padding: 8px 10px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    border-radius: 50px;
    position: absolute;
    text-align: center;
    bottom: -4px;
    left: 50%;
    content: attr(data-tooltip);
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 110%) scale(0.9);
    transform-origin: top;
    transition: all 0.15s;
    box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.05);
  }
  [data-tooltip][data-tooltip-style=doom]::after {
    background: #a43414;
    color: #fff;
  }
  [data-tooltip][data-tooltip-boxed]::after {
    width: 150px;
  }
  [data-tooltip]:hover::after {
    display: block;
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 110%) scale(1);
  }
  [data-tooltip][data-tooltip-position=top]::after {
    bottom: unset;
    top: -4px;
    transform: translate(-50%, -110%) scale(0.9);
  }
  [data-tooltip]:hover[data-tooltip-position=top]::after {
    transform: translate(-50%, -110%) scale(1);
  }
  [data-tooltip][data-tooltip-position=left]::after {
    transform: translate(-110%, -50%) scale(0.9);
    transform-origin: right;
    right: 0;
    left: 0;
    bottom: unset;
    top: 50%;
  }
  [data-tooltip]:hover[data-tooltip-position=left]::after {
    transform: translate(-100%, -50%) scale(1);
    transform-origin: right;
    bottom: unset;
    left: -15px;
    top: 50%;
  }
  [data-tooltip][data-tooltip-position=right]::after {
    transform: translate(0%, -50%) scale(0.9);
    transform-origin: left;
    right: 0;
    left: calc(100% + 15px);
    bottom: unset;
    top: 50%;
  }
  [data-tooltip]:hover[data-tooltip-position=right]::after {
    transform: translate(0%, -50%) scale(1);
    transform-origin: left;
    bottom: unset;
    top: 50%;
  }
  .oj-c-Btn:hover {
    background: var(--color-accent-hover);
  }
  .oj-c-Doom-tooltipContainer:hover + button {
    border-color: #a43414;
    transform: scale(1.075);
  }
  .oj-c-Doom-tooltipContainer:active + button {
    transform: scale(1);
  }
  .oj-c-Credits-tooltipContainer:hover + button {
    transform: scale(1.075);
  }
  .oj-c-Credits-tooltipContainer:active + button {
    transform: scale(1);
  }
  .m-link:hover {
    color: var(--color-accent) !important;
  }
  .modal__close:hover {
    transform: scale(1.2);
  }
  .modal__close:active {
    transform: scale(1);
  }
  .smol:hover {
    transform: scale(2);
  }
  .smol:hover > span {
    opacity: 1;
  }
  .s-donate:hover {
    transform: scale(1);
  }
}
.container {
  position: fixed;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
.container:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 2rem;
  height: 2rem;
  background: rgba(0, 0, 0, 0.25);
  transform: rotate(45deg);
  outline: 10px solid rgba(0, 0, 0, 0.1);
}
.container:nth-child(4n):before, .container:nth-child(7n):before {
  display: none;
}

.particle {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}
.particle:nth-child(1) .sparcle {
  -webkit-animation-delay: 0ms;
          animation-delay: 0ms;
}
.particle:nth-child(2) .sparcle {
  -webkit-animation-delay: 50ms;
          animation-delay: 50ms;
}
.particle:nth-child(3) .sparcle {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}
.particle:nth-child(4) .sparcle {
  -webkit-animation-delay: 150ms;
          animation-delay: 150ms;
}
.particle:nth-child(5) .sparcle {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
}
.particle:nth-child(6) .sparcle {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}
.particle:nth-child(7) .sparcle {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
}
.particle:nth-child(8) .sparcle {
  -webkit-animation-delay: 350ms;
          animation-delay: 350ms;
}
.particle:nth-child(9) .sparcle {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}
.particle:nth-child(10) .sparcle {
  -webkit-animation-delay: 450ms;
          animation-delay: 450ms;
}
.particle:nth-child(11) .sparcle {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}
.particle:nth-child(12) .sparcle {
  -webkit-animation-delay: 550ms;
          animation-delay: 550ms;
}
.particle:nth-child(13) .sparcle {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}
.particle:nth-child(14) .sparcle {
  -webkit-animation-delay: 650ms;
          animation-delay: 650ms;
}
.particle:nth-child(15) .sparcle {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}
.particle:nth-child(16) .sparcle {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}
.particle:nth-child(17) .sparcle {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}
.particle:nth-child(18) .sparcle {
  -webkit-animation-delay: 850ms;
          animation-delay: 850ms;
}
.particle:nth-child(19) .sparcle {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}
.particle:nth-child(20) .sparcle {
  -webkit-animation-delay: 950ms;
          animation-delay: 950ms;
}
.particle:nth-child(21) .sparcle {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.sparcle {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 3rem;
  height: 3rem;
  background: rgba(228, 249, 250, 0);
  will-change: transform, box-shadow, background-color;
  transform: rotate(45deg) scale(0.5) translateZ(0);
  -webkit-animation: explode 333ms;
          animation: explode 333ms;
  box-shadow: 0 0 0 0 #fde655;
}

@-webkit-keyframes explode {
  0% {
    background-color: #e4f9fa;
    transform: rotate(45deg) scale(1.2) translateZ(0);
    box-shadow: 0 0 0 0 #fde655;
  }
  40% {
    background-color: rgba(228, 249, 250, 0.1);
  }
  50% {
    transform: rotate(45deg) scale(1) translateZ(0);
    box-shadow: 0 0 0 10px #fde655;
    background-color: rgba(228, 249, 250, 0);
  }
  60% {
    box-shadow: 0 0 0 50px #d47946;
    transform: rotate(45deg) scale(0.5) translateZ(0);
  }
  70% {
    background-color: rgba(228, 249, 250, 0);
    box-shadow: 0 0 0 30px #7a2c1f;
  }
  100% {
    background-color: #7a2c1f;
    box-shadow: 0 0 0 0 #7a2c1f;
    transform: rotate(45deg) scale(0.25) translateZ(0);
  }
}

@keyframes explode {
  0% {
    background-color: #e4f9fa;
    transform: rotate(45deg) scale(1.2) translateZ(0);
    box-shadow: 0 0 0 0 #fde655;
  }
  40% {
    background-color: rgba(228, 249, 250, 0.1);
  }
  50% {
    transform: rotate(45deg) scale(1) translateZ(0);
    box-shadow: 0 0 0 10px #fde655;
    background-color: rgba(228, 249, 250, 0);
  }
  60% {
    box-shadow: 0 0 0 50px #d47946;
    transform: rotate(45deg) scale(0.5) translateZ(0);
  }
  70% {
    background-color: rgba(228, 249, 250, 0);
    box-shadow: 0 0 0 30px #7a2c1f;
  }
  100% {
    background-color: #7a2c1f;
    box-shadow: 0 0 0 0 #7a2c1f;
    transform: rotate(45deg) scale(0.25) translateZ(0);
  }
}/*# sourceMappingURL=main.css.map */